<style media="screen">
  #tst{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
  #thicker{
    font-size: 36px;
  }
</style>

<div id="tst">
  <h2 id="thicker">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="form-group">
    <%= f.label :position %> <br />
    <%= f.select(:position, ['Student', 'Faculty']) %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
