<p id="notice"><%= notice %></p>

<h1>Faculties</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Home address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Home phone</th>
      <th>Cell phone</th>
      <th>Office phone</th>
      <th>New faculty</th>
      <th>Department</th>
      <th>Office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.last_name %></td>
        <td><%= faculty.first_name %></td>
        <td><%= faculty.home_address %></td>
        <td><%= faculty.city %></td>
        <td><%= faculty.state %></td>
        <td><%= faculty.zip %></td>
        <td><%= faculty.home_phone %></td>
        <td><%= faculty.cell_phone %></td>
        <td><%= faculty.office_phone %></td>
        <td><%= faculty.new_faculty %></td>
        <td><%= faculty.department %></td>
        <td><%= faculty.office %></td>
        <td><%= link_to 'Show', faculty %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
        <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faculty', new_faculty_path %>
