
<p>
  <strong>Last name:</strong>
  <%= @emergency_contact.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @emergency_contact.first_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @emergency_contact.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @emergency_contact.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @emergency_contact.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @emergency_contact.zip %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @emergency_contact.home_phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @emergency_contact.cell_phone %>
</p>

<p>
  <strong>Office phone:</strong>
  <%= @emergency_contact.office_phone %>
</p>

<p>
  <strong>Faculty auid:</strong>
  <%= @emergency_contact.faculty_auID %>
</p>

<p>
  <strong>Students auid:</strong>
  <%= @emergency_contact.students_auID %>
</p>

<%= link_to 'Edit', edit_emergency_contact_path(@emergency_contact) %> |
<%= link_to 'Back', emergency_contacts_path %>
