<%= form_with(model: permit, local: true) do |form| %>
  <% if permit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permit.errors.count, "error") %> prohibited this permit from being saved:</h2>

      <ul>
      <% permit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_issued %>
    <%= form.text_field :date_issued, id: :permit_date_issued %>
  </div>

  <div class="field">
    <%= form.label :issued_by %>
    <%= form.text_field :issued_by, id: :permit_issued_by %>
  </div>

  <div class="field">
    <%= form.label :date_entered %>
    <%= form.text_field :date_entered, id: :permit_date_entered %>
  </div>

  <div class="field">
    <%= form.label :entered_by %>
    <%= form.text_field :entered_by, id: :permit_entered_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
