<p id="notice"><%= notice %></p>

<p>
  <strong>Date issued:</strong>
  <%= @permit.date_issued %>
</p>

<p>
  <strong>Issued by:</strong>
  <%= @permit.issued_by %>
</p>

<p>
  <strong>Date entered:</strong>
  <%= @permit.date_entered %>
</p>

<p>
  <strong>Entered by:</strong>
  <%= @permit.entered_by %>
</p>

<%= link_to 'Edit', edit_permit_path(@permit) %> |
<%= link_to 'Back', permits_path %>
