<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :vehicle_year, :required => 'required', placeholder: "Required" %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :vehicle_color, :required => 'required', placeholder: "Required" %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :vehicle_make, :required => 'required', placeholder: "Required" %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :vehicle_model, :required => 'required', placeholder: "Required" %>
  </div>

  <div class="field">
    <%= form.label :license_number %>
    <%= form.text_field :license_number, id: :vehicle_license_number, :required => 'required', placeholder: "Required" %>
  </div>

  <div class="field">
    <%= form.label :state_licensed %>
    <%= form.text_field :state_licensed, id: :vehicle_state_licensed, :required => 'required', placeholder: "Required" %>
  </div>

  <div class="field">
    <%= form.label :experation_year %>
    <%= form.text_field :experation_year, id: :vehicle_experation_year, :required => 'required', placeholder: "Required" %>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
