<h1>Vehicles</h1>

<% if current_user.admin? || current_user.editor? %>
  <%= form_tag(vehicles_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Vehicles" %>
  <%= submit_tag "Search" %>
  <% end %>
  <% if @vehicles.empty? %>
    <p>There are no vehicles containing the term(s) <%= params[:search] %>.</p>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Color</th>
      <th>Make</th>
      <th>Model</th>
      <th>License number</th>
      <th>Permits permit number</th>
      <% if current_user.faculty? || (current_user.admin? || current_user.editor?)%>
      <th>Faculty auid</th>
      <% end %>
      <%if current_user.student? || (current_user.admin? || current_user.editor?)%>
      <th>Students auid</th>
      <% end %> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.license_number %></td>
        <td><%= vehicle.vehicle_permit_id %></td> 
        <% if current_user.faculty? || (current_user.admin? || current_user.editor?) %>
          <td><%= vehicle.faculty_id %></td>
        <% end %>
        <% if current_user.student? || (current_user.admin? || current_user.editor?) %>
          <td><%= vehicle.student_id %></td>
        <% end %>
        <td><%= link_to 'Show', vehicle if policy(vehicle).show? %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) if policy(vehicle).edit? %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } if policy(vehicle).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(Vehicle).new? %>
<%= link_to 'New Vehicle', new_vehicle_path if (current_user.vehicles.empty? || current_user.faculty? || (current_user.admin? || current_user.editor?)) %>
<% end %>
