
<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>License number:</strong>
  <%= @vehicle.license_number %>
</p>

<p>
  <strong>State licensed:</strong>
  <%= @vehicle.state_licensed %>
</p>

<p>
  <strong>Experation year:</strong>
  <%= @vehicle.experation_year %>
</p>

<p>
  <strong>Permits permit number:</strong>
  <%= @vehicle.permit_id %>
</p>

<p>
  <strong>Faculty auid:</strong>
  <%= @vehicle.faculty_id %>
</p>

<p>
  <strong>Students auid:</strong>
  <%= @vehicle.student_id %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
